{% extends 'website/home.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="/media/profile_pics/default.jpg">
            <div class="media-body">
                <h2 class="account-heading">Select a client</h2>
            </div>
        </div>
    </div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <fieldset disabled>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="disabledSelect">Select a client*</label>
                             <select id="disabledSelect" class="form-control">
                                 <option>{{ client }}</option>
                            </select>
                        </div>
                    </fieldset>
                </fieldset>
                {{ service_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name="service_selection">Update</button>
                <input type="button" value="Go back" class="btn btn-outline-info" onclick="history.back()">
            </div>
        </form>
    </div>

{% endblock %}