{% extends 'website/home.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2 class="account-heading">New Worday</h2>
    </div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
                <input type="button" value="Go back" class="btn btn-outline-info" onclick="history.back()">
            </div>
        </form>
    </div>

{% endblock %}